$backgroundColor: #fff;
$navLink: #dcddde70;
$colorGray: #dcddde;
$darkGray: #374045;

$textDark: #000;
$textMain: #40bfbd;
$textRed: #EC4646 ;

$Cantarell: 'Cantarell', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Ubuntu: 'Ubuntu', sans-serif;
